div#step-2-panel {
    display: none;
}
.site-folder-list table td {
    border: none;
}
.site-folder-list table {
    background: #fff;
}
.list-dir {
    box-shadow: 5px 4px 34px rgba(193, 193, 193, 0.48);
}
.list-dir li {
    cursor: pointer;
}
.site-folder-list tbody {
    display:block;
    height:200px;
    overflow:auto;
}
.site-folder-list thead, .site-folder-list tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

.site-folder-list tbody {
    height: 150px;
    overflow-y: auto;
    width: 100%;
}
.site-folder-list th {
    padding: 7px 12px!important;
    background: #3b5998;
    color: #fff;
    border: none;
}
.list-dir {
    overflow-y: scroll;
    max-height: 120px;
}
.site-dir-panel.local .list-selector input {
    padding-left: 85px;
}
.list-dir {
    min-height: 120px;
    background: #fefefe;
    padding: 10px;
}
.site-dir-panel.remote .list-selector:before {
    content: "Remote Site";
    background: #3b5998;
    color: #fff;
    padding: 3px 10px;
    float: left;    position: absolute;
}
.list-selector input {
    width: 100%;float: right;    padding-left: 100px;
}
.site-dir-panel.local .list-selector:before {
    float: left;
    content: "Local Site";
    background: #3b5998;
    color: #fff;
    padding: 3px 10px;position: absolute;
}
.site-folder-panel, .site-dir-panel {
    background: #f1f1f1;
    padding: 10px;
    margin: 9px 0px;
}
input[type="radio"], input[type="checkbox"] {
    margin-right: 3px;
    position: relative;
    top: 2px;
}
div#site-opration-last-links {
    text-align: right;
    margin: 17px auto 5px;
}
div#site-opration-tab {
    background: #f1f1f1;
    border: 3px solid #c1c1c1;
    padding: 10px;
    border-radius: 3px;
}
div#site-entry-details ul li:hover {
    background: #f1f1f1;
    box-shadow: inset 0px 0px 1px;
    padding-left: 10px;
    cursor: pointer;
}
div#site-entry-links button {
    margin-bottom: 10px;
}
div#site-entry-links {
    padding: 10px;
    text-align: center;
}
div#site-opration-manager {
    margin: 10px auto;
}
div#site-entry-details ul a {
    text-decoration: none;
    color: #3b5998;
}
div#site-entry-details ul a:hover {
    text-decoration: none;
    color: #000000;
}
div#site-entry-details {
    border: 3px solid #c1c1c1;
    padding: 10px;
    border-radius: 6px;
    max-height: 250px;
    overflow-y: scroll;
}
div#site-entry-details ul {
    list-style: none;
    padding-left: inherit;
}
div#step-opration .step.pass h5 {
    color: #009688;
    font-weight: bold;
}
.step-text i {
    display: none;
}
div#step-opration .step.pass i {
    display: initial;
}
div#step-opration .step.pass .step-number * {
    background: #009688;
}
div#step-opration .step.pass .step-number span.num {
    box-shadow: 0px 0px 4px #000000;    text-shadow: 1px 1px 0px #000;
}
.step-text {
    width: 75%;
    margin: auto;
    text-align: center;
}
.step-text h5 {
    font-size: 14px;
    margin-bottom: 2px;
    color: #020202;
}
div#step-opration .step:nth-child(1) .bar {
    width: 50%;
    right: -4px;
}
div#step-opration .step:last-child .bar {
    width: 50%;
}
.bar {
    height: 6px;
    background: #fa6b5b;
    top: 26px;
    position: absolute;
    width: 102%;
}
.step-number {
    text-align: center;position: relative;
}
.step-number span {

    position: relative;
    background: #f86c6b;
    color: #fff;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    display: inline-block;
    font-size: 25px;
    padding-top: 8px;
    margin-bottom: 15px;
}
div#step-opration {
    text-align: center;
}
div#step-opration .step {
    text-align: left;
    padding: 1% 0%;
    width: 20%;
    display: inline-block;    vertical-align: top;
}
.container-inner {
    background: white;
    padding: 10px 20px;
    box-shadow: 0px 0px 2px rgba(193, 193, 193, 0.48);    margin-bottom: 24px;
}
#campaignstab ul.tabs{
            margin: 0px;
            padding: 0px;
            list-style: none;
}
#campaignstab ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 8px 15px;
    cursor: pointer;
    position: relative;
    margin: auto 5px;
    background-color: #e2e1e1;
}

#campaignstab ul.tabs li.current{
            background: #fff;
            color: #222;
        }

#campaignstab .tab-content{
            display: none;
            background: #fff;
            padding: 15px;
        }

#campaignstab .tab-content.current{
            display: inherit;
        }
#campaignstab li.tab-link.current:after {
                z-index: 9;    border-right: 1px solid #d7d7d7;
            }
#campaignstab li.tab-link:after {
    content: "";
    position: absolute;
    width: 22px;
    height: 100%;
    background: inherit;
    right: -12px;
    top: 0;
    transform: skewX(28deg);
}    
#campaignstab li.tab-link {
    border-top: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
}
#campaignstab span.cselected {
    background: #0d45bb;
    color: #fff;
    padding: 1px 10px 3px;
    margin-left: 5px;
    border-radius: 25px;
    font-size: 13px;
    box-shadow: 0px 0px 5px #3b5998;
}
#campaignstab li.tab-link:before {
    content: "";
    position: absolute;
    width: 9px;
    height: 100%;
    background: inherit;
    left: -4px;
    top: 0;
    transform: skewX(-7deg);
    border-left: 1px solid #d7d7d7;
}
/* today */
div#campaignstab .tabs i {
    margin-right: 8px;
}

div#ash_tabs_links button.tablinks {
    background: #337ab7;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 8px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: auto;
    min-width: 85px;
}
div#ash_tabs_links button.tablinks:hover, div#ash_tabs_links button.tablinks.active {
    background: #1abb9c;
}
span.close_ash_tab:hover {
    color: #F44336;
}
.search-box {
    background-image: url(https://cdn3.iconfinder.com/data/icons/token/128/Search.png);
    background-position: 7px 7px;
    background-size: 25px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 8px 10px 8px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
div#custom-toolbar-right {
    text-align: right;
}
ul.big-menu{
    padding: 5px 10px;
    max-height: 300px;
    overflow-y: scroll;   
}
div.custom-toolbar-right {
    text-align: right;
}
ul.dropdown-menu input[type=checkbox] {
    margin-right: 5px;
    position: relative;
    top: 2px;
}
div.custom-toolbar {
    margin-bottom: 9px;
    background: #f7f7f7;
    padding: 5px;
    border-bottom : 1px solid #c1c1c1;
}
.custom-table-view-scroll {
    overflow-x: scroll;
}
table.custom-table-view th {
    background: linear-gradient(#f1f1f1,#f1f1f1,#c5c5c5);
    background: -webkit-linear-gradient(#f1f1f1,#f1f1f1,#c5c5c5);
    background: -o-linear-gradient(#f1f1f1,#f1f1f1,#c5c5c5);
    background: -moz-linear-gradient(#f1f1f1,#f1f1f1,#c5c5c5);
    padding: 8px 15px;
    border: 0.1px solid #c1c1c1;
    text-align: left;
}
table.custom-table-view th:nth-child(1) {
    min-width: initial;
}
table.custom-table-view td {
    padding: 8px 15px;
    border: 0.1px solid #c1c1c1;
    color: #000;
}
span.th-name {
    color: #353535;
}
div.custom-toolbar .btn {
    margin-bottom: auto;
}
div.pager {
    text-align: center;
    margin: 1em 0;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #fefefe;
    color: #3b5998;
    margin-right: 0.5em;
    border: 1px solid #3b5998;
}

div.pager span.active {
    background: #3b5998;
    color: #fff;
}
div.pager span:hover {
    background: #3b5998;
    color: #fff;
}
.dropdown {
    display: inline-block;
}
body {
    background: url(http://www.designbolts.com/wp-content/uploads/2012/12/simple-pattern-white-seamless-website-background.jpg);
    background-size: 25%;
}
div#campaignstab ul.dropdown-menu li i {
    margin-right: 8px;
    color: #313131;
}
div#campaignstab ul.dropdown-menu li {
    padding: 5px 20px 6px 12px;
}
div#campaignstab ul.dropdown-menu li a {
    color: #000;
    text-decoration: none;
}
div#campaignstab ul.dropdown-menu {
    padding: 5px 0px;
}
th.short-col {
    min-width: initial!important;
}
th.big-th{
    min-width: 161px;
}
div#filter-controls {
    text-align: right;
    margin-bottom: 15px;
}
.filter-box {
    display: inline-block;vertical-align: top;
}
th.very-big-th {
    min-width: 240px;
}
.td-controls {
    float: right;    display: none;
}
.td-controls a {
    color: #000000;
    padding: 1px 3px;
    margin-left: 5px;
    text-decoration: none;
    background: #f7cb00;
    border-radius: 29%;
    font-weight: bold;
    border: 3px solid #f7cb00;
    box-shadow: 0px 0px 5px #000000;
}
.td-controls a:hover {
    color: #fefefe;
    padding: 1px 3px;
    margin-left: 5px;
    text-decoration: none;
    background: #000000;
    border-radius: 29%;
    font-weight: bold;
    border: 3px solid #000000;
    box-shadow: inset 0px 0px 5px #000000;
}
div#site-opration-tab .card {
    margin-bottom: auto;
}
/*-------creation dropdown--------*/
/* .navbar .navbar-nav .open > .dropdown-toggle {
    color: #ffffff !important;
} */
div.dropdown ul.dropdown-menu li a {
    padding: 5px 20px 6px 12px;
    width: 100%;
    float: left;
	text-decoration: none;
	color: #3b5998;
    transition: all 0.5s;
}
div.dropdown ul.dropdown-menu li:hover >a {
    background: #3b5998;
    color: #fff;
}
div#custom-toolbar-select-col-filter-by ul.dropdown-menu.cre {
    margin-top: 19px;
}
div#site-entry-details ul li {
    transition: all 0.5s;
}
/*-------creation dropdown--------*/
button.btn.btn-primary.dropdown-toggle {
    background-color: #3b5998;
    border-color: #0d45bb;
    border-radius: 0;
}
button.btn.btn-primary.dropdown-toggle:hover {
    background: #1985ac;
    border-color: #187fa3;
}
.input-group {
    position: absolute ;
    right: 241px;
    width: 20%;
    float: left;
}
button.btn.btn-primary {
    color: #fff;
    background-color: #3b5998;
    border-color: #0d45bb;
    border-radius: 0;
}
button.btn.btn-primary:hover {
    background: #1985ac;
    border-color: #187fa3;
}
input#input1-group2 {
    border-radius: 0;
}
button.btn.btn-warning.btn-md.dropdown-toggle {
    border-radius: 0;
}
/* -----MEDIA QUERY----- */
@media only screen and (min-width: 768px){
.container-inner {
    width: 80%;
    margin: auto;
    max-width: 100%;
}
td.td-controls-div:hover .td-controls {
    display: block;
}
}
@media screen and (max-width: 750px) {
.input-group {
    position: relative ;
    right: 0;
    width: 100%;
    float: left;
    margin-bottom: 5px;
}
div#filter-controls {
    text-align: left;
    margin-bottom: 15px;
}
div#custom-toolbar-right {
    text-align: left;
}
button.btn.btn-primary {
    font-size: 11px;
}
div#custom-toolbar-right .dropdown {
    margin-bottom: 2px;
}
div#custom-toolbar-left {
    margin-bottom: 2px;
}
#custom-toolbar-left button.btn.btn-md {
    font-size: 10px;
}
#custom-toolbar-left .dropdown {
    margin-bottom: 2px;
}
div#campaignstab ul.dropdown-menu {
    position: absolute;
    top: 29px;
    left: 14px;
}
#campaignstab ul.tabs li {
    padding: 5px 15px;
    margin-bottom: 7px;
    text-align: center;
}
ul.tabs.ultab li.litab {
    width: 90%;
    padding: 1px 0 !important;
}
}
@media only screen and (max-width: 500px) {
div#step-opration .step .bar {
    display: none;
}
div#step-opration .step {
    width: 48%!important;
}
.step-text h5 {
    min-height: 40px;
}
}


