.column {
	float: left;
    width: 100%;
    padding: 3px 0;
    position: relative;
    text-align: center;
}
button.md-trigger {
	border: 1px solid #3b5998;
    background: #3b5998;
    border: 0;
    color: #fefefe;
    outline: none;
	transition: all 0.5s;
	padding: 7px 9px;
}
button.md-trigger:hover {
	background: #1985ac;
}
.row.firstrow {
    width: 100%;
    float: left;
	padding: 15px 0;
}
.row.btnrow {
    padding: 15px 0;
}
div#myModal .modal-body {
    padding: 45px 0;
}
.row.firstrow .label {
    text-align: right;
}
.row.firstrow .label strong {
    font-size: 15px;
    font-weight: 500;
	color: #3b5998;
}
i.fa.fa-plus-circle {
    transition: all 0.5s;
}
i.fa.fa-plus-circle:hover {
    transform: rotate(90deg);
}
a.addusr {
    color: #3b5998;
	    transition: all 0.5s;
		    outline: none;
}
.row.firstrow .input {
    text-align: left;
}
input.groupName {
    width: 100%;
    float: left;
}

.row.btnrow {
    width: 100%;
    float: left;
}
input.groupName::-webkit-input-placeholder {
    color: #90a1c5;
    font-size: 14px;
}
button.addusersrch.btn {
    position: absolute;
    right: 16px;
    top: 0;
    border-radius: 0;
    color: #fff;
    background: #3b5998;
	padding: 0.45rem 1rem;
	    transition: all 0.5s;
}
button.addusersrch.btn:hover {
    background: #1985ac;
}
div#myModal .modal-header {
    padding: 5px 8px;
    background: #3b5998;
    color: #fff;
	text-align: center;
}
div#myModal .modal-header h4.modal-title {
    font-size: 23px;
    font-weight: lighter;
    /* text-align: center; */
    width: 100%;
    float: left;
}button.addGroup {
    background: #3b5998;
    border: 1px solid #3b5998;
    color: #fff;
    padding: 5px 15px;
	    transition: all 0.5s;
}
button.addGroup:hover {
    background: #1985ac;
}
.border {
    border-bottom: 1px solid #E0E0E0;
    width: 75%;
    float: left;
    margin: 0 auto;
}
.column:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
}

.column p {
	font-weight: 300;
	font-size: 2em;
	padding: 0;
	margin: 0;
	text-align: right;
	line-height: 1.5;
}

/* To Navigation Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.2);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	display: inline-block;
}

.codrops-top a:hover {
	color: #e74c3c;
	background: rgba(255,255,255,0.6);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

@media screen and (max-width: 46.0625em) {
	.column {
		width: 100%;
		min-width: auto;
		min-height: auto;
		padding: 1em; 
	}

	.column p {
		text-align: left;
		font-size: 1.5em;
	}

	.column:nth-child(2) {
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	}
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}