.sc_wrap .userprofile_section .name_txt {
    margin: 0px;
	font-size: 24px;
	text-align: center;
	font-weight: 600;
	color: #fff;
}
.sc_wrap .userprofile_section {
    background: transparent;
	 padding: 0px;
	height: 100vh;
    position: fixed;
    right: 0;
	top: 0px;
	 z-index: 1;
}
.sc_wrap .userprofile_section .chat_section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 3px solid #f8f8f8;
    border-bottom: none;
    background: #3b5998;
    cursor: pointer;
}
.sc_wrap .userprofile_section .chat_section .chat_txt{
	    position: relative;
	/* border: 1px solid #ddd; */
}
.onclick_function {
    padding: 6px 0;
}
.sc_wrap .userprofile_section .chat_section .chat_txt .chat_txt_inline{
	font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding-left: 10px;
	margin: 0;
	   /*  font-family: cursive; */
}
.sc_wrap  .cross_btn {
    position: absolute;
    top: -10px;
    right: 0px;
    padding: 10px;
    color: #fff;
	font-size: 15px;
    
}
.sc_wrap .chat_inline{
	display: none;
	background: #fff;
    overflow: auto;
	padding: 5px;
}
.sc_wrap .chat_box {
    width: 100%;
}
.sc_wrap .chat_box {
    width: 100%;
    overflow: auto;
    padding: 5px 0px;
	position: relative;
}
.sc_wrap .chat_box:after {
	content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #67d209;
     top: 25px;
    right: 25px;  
    border-radius: 100px;
}

.sc_wrap .user_chat_box li{
	padding: 7px 12px;
	    border-bottom: 1px solid #ddd;
}
.sc_wrap .user_chat_box li:nth-child(6) {
    border-bottom: none;
}
.sc_wrap .user_chat_box li:last-child{
	border-bottom: none;
}
.sc_wrap .user_chat_box li::after{
	content:'';
	display: table;
	clear: both;
}
.sc_wrap .user_chat_box li:hover{
	background: #f8f8f8;
}
.sc_wrap .chat_img {
    width: 10%;
    float: left;
}
.sc_wrap .chat_details {
    width: 75%;
    float: left;
    padding-left: 35px;
}
.sc_wrap .chat-time {
    width: 15%;
    float: left;
	padding: 10px 0px;	
}
.sc_wrap .chat-time p{
	font-size: 13px;
	color: #aaa;
}
.sc_wrap .chat_img img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 100px;
}
.sc_wrap .chat_details .usr_name_txt {
    background: none ;
    text-align: left;
    font-size: 16px ;
    padding: 5px 0;
	/* font-family: cursive; */
	color: #333;
}
.sc_wrap .chat_details p
{
	font-size: 13px;
	color: #aaa;
}
.sc_wrap .chat_user_colm{
	padding:0px;
    border-right: 1px solid #ddd;
}

.sc_wrap .chat_user_colm h2 {
    text-align: center;
    font-size: 18px;
    margin: 0px;
    padding: 5px 0px;
	/* font-family: cursive; */
	color: #fff;
}

.sc_wrap .chat_box {
    width: 100%;
}
.sc_wrap .chat_box .chat_usr_img {
    width: 25%;
    float: left;
}
.sc_wrap .chat_box .chat_usr_img img {
    width: 40px;
    border-radius: 100px;
    height: 40px;
    object-fit: cover;
}
.chat_usr_name {
    width: 50%;
    float: left;
    padding-left: 5px;
}
.mainrow {
    width: 100%;
    float: left;
}.toprow {
    width: 100%;
    float: left;
}
.secrow {
    width: 100%;
    float: left;
}
.secrow label {
    position: absolute;
    top: 74px;
    right: 20px;
	    margin: 0;
}
.secrow label i.fa.fa-pencil-square-o {
    font-size: 25px;
    background: -webkit-linear-gradient(#eee, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #3b5998;
	    text-shadow: 0 0 10px #fff;
}