body{
	margin: 0px;
	padding: 0px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif" !important;
}
.clear{
	clear: both;
}
ul{
	padding-left: 0px;
	list-style: none;
}
a:hover{
	text-decoration: none !important;
}
.top_navbar {
    padding: 12px 0px;
    background-color: #3B5998;
    color: #fff;
    position: fixed;
    z-index: 9999;
    width: 100%;
	top: 0px;
}
.top_navbar .logo h1 {
	margin: 0px;
    font-size: 25px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.top_navbar .logo {
    padding: 5px 0px;
	float: left;
}
.top_navbar .logo a {
    margin: 0px;
    font-size: 22px;
    color: #fff;
}
span.badge.badge-pill.badge-danger {
    position: absolute;
    top: 10%;
    left: 40%;
    background: #f86c6b;
}
.top_navbar .right_col {
    text-align: right;
	padding: 5px 0px;
}
.top_navbar .right_col a{
	font-size: 16px;
	margin: 0px;
	color: #fff;
}
.sc_wrap  .post_section img {
    width: 100%;
} 
 .sc_wrap  .image_sec img {
     width: 100%;
    height: 200px;
    object-fit: cover;
} 
/* .sc_wrap .sc_row {
    padding: 65px 0px 0px;
} */
.sc_wrap .post_box {
    border: 1px solid #ddd;
    padding: 15px 5px 0;
	margin: 15px 0px;
}
.sc_wrap .recactivity_box {
border: 1px solid #ddd;
    padding: 15px 0px;
    margin: 10px 0;
    width: 100%;
    float: left;}
.sc_wrap .recactivity_box .user_pic img{
height: 45px;
    width: 45px;}
/* .sc_wrap .user_profile {
    text-align: center;
} */
.sc_wrap .user_pic img {
     width: 100%;
    max-width: 200px;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 5px;
	height: 150px;
    object-fit: cover;
}
.sc_wrap .like_cmnt {
    list-style: none;
    padding-left: 0px;
	margin-top: 10px;
}
.sc_wrap .like_cmnt:focus{
	text-decoration: none;
}
.sc_wrap .like_cmnt li{
    float: left;
    padding: 5px;
    /* width: 50%; */}
.sc_wrap .like_cmnt li a{
	 color: #3b5998;
}
.sc_wrap .like_cmnt li a:hover{
	text-decoration: none;
}
.sc_wrap .latestnews_section .news_txt {
    margin:15px 0px 0px; 
   color: #3b5998;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif" !important;
	 font-size: 28px;
	font-weight: 600;
}
.sc_wrap .userprofile_section .name_txt {
    margin: 0px;
   color: #3b5998;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif" !important;
	font-size: 24px;
	text-align: center;
	font-weight: 600;
	color: #fff;
}
.sc_wrap  .usr_txt {
    margin: 0px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif" !important;
	 font-size: 24px;
	text-align: left;
	font-weight: 600;
	  color: #3b5998;
}
.sc_wrap  .addfrnd_txt {
    margin: 0px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif" !important;
	 font-size: 24px;
	text-align: left;
	font-weight: 600;
	  color: #3b5998;
}
.sc_wrap .img_content p {
    margin: 15px 0px 5px;
}
.sc_wrap .time_sec {
    text-align: left;
    margin: 15px 0px;
}
.sc_wrap .time_sec .timer_txt a {
    color: #3b5998;
	text-align: right;
    
}
.sc_wrap .time_sec .timer_txt a:hover{
	text-decoration: underline;
}
.sc_wrap .userprofile_section {
    background: #3b5998;
	 padding: 0px;
	height: 100vh;
    position: fixed;
    right: 0;
	top: 0px;
	 z-index: 1;
}
.sc_wrap .userpic_img img {
    width: 100%;
}
.sc_wrap .userpic_img {
    text-align: center;
     padding: 15px 0 5px;
}
.sc_wrap .userpic_img img {
    width: 100%;
    max-width: 150px;
    margin: 12px 0 0;
}
.sc_wrap .usrdet-list {
    list-style: none;
    padding-left: 0px;
    margin: 5px 0px;
	padding-top: 45px;
}
.sc_wrap .usrdet-list.myacc_list{
	padding:0px;
}
.sc_wrap .usrdet-list li {
    padding: 5px 0px;
    text-align: center;
    color: #fff;
}
.sc_wrap .usrdet-list li a {
    margin-left: 0;
    color: #fff;
    display: block;
    background: #2f5096;
    padding: 10px 0px;
    margin: 5px 0px;
	font-size: 13px;
}
.sc_wrap .onlineuser_list img {
    width: 100%;
    max-width: 150px;
    border-radius: 100px;
    border: 1px solid #ddd;
}
.sc_wrap .onlineuser_list {
	margin: 15px 0 0;
}
.sc_wrap .onlineuser_list li {
    float: left;
    width: 20%;
    margin: 5px;
}
.sc_wrap .onlineuser_list img {
   width: 100%;
    max-width: 150px;
    border-radius: 100px;
    border: 1px solid #ddd;
    height: 65px;
    object-fit: cover;
}
.top_navbar.search {
  width: 100%;
  position: relative
}

.top_navbar .searchTerm {
  float: left;
    width: 100%;
    border: 3px solid #2f5096;
    padding: 5px;
    height: 37px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.top_navbar .searchTerm:focus{
  color: #00B4CC;
}

 .top_navbar .searchButton {
      position: absolute;
    right: -20px;
    width: 40px;
    height: 37px;
    border: 1px solid #2f5096;
    background: #2f5096;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
.top_navbar .wrap{
  width: 100%;
 }
.sc_wrap .acc_list {
    position: absolute;
    width: 100%;
    bottom: 0px;
 }
.sc_wrap .acc_list .fa{
	margin-right: 5px;
}
.sc_wrap .acc_list li {
    padding: 5px;
    text-align: center;
    width: 100%;
}
.sc_wrap .acc_list li a {
    color: #fff;
    text-align: center;
}
.sc_wrap  .usrdet-list .fa,.like_cmnt fa {
    margin-right: 5px;
}
.top_navbar .icon_list {
    float: left;
    text-align: right;
    width: 50%;
    margin-bottom: 0px;
}

.top_navbar .iconbar {
    margin: 0px;
	float: right;
}
.top_navbar .iconbar li {
    padding: 8px 5px 0px;
    float: left;
	margin: 2px 3px;
}
.top_navbar .iconbar li a {
   color: #fff;
    font-size: 16px;
}

.sc_wrap .addfriend_section {
    margin: 20px 0px 0px;
}
.sc_wrap .addfrnd_list {
    padding: 15px 0px;
}
.sc_wrap .addfrnd_list li {
    padding: 8px 0px;
	border-bottom: 1px #ddd solid;
    
}
.sc_wrap .addfrnd_list .adfrnd_row {
    width: 100%;
}
.sc_wrap .adfrnd_row .lft_col {
    width: 60%;
    float: left;
}
.sc_wrap .adfrnd_row .lft_col .lft_img {
    float: left;
}
.sc_wrap .adfrnd_row .rt_col {
   float: left;
    width: 40%;
    padding: 5px 0 0;

}
.sc_wrap .adfrnd_row .lft_col img{
	width: 100%;
	border-radius: 100px;
	max-width: 50px;
	height: 50px;
	object-fit: cover;
}
.sc_wrap .nametxt {
    padding: 15px;
    color: #2f5096;
    font-weight: 900;
    float: left;
}
.sc_wrap .addfrnd_btn {
       background: #2f5096;
    color: #fff;
    padding: 10px 5px;
    width: 100px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}
.sc_wrap .crossbtn {
    font-size: 20px;
    margin-left: 5px;
}
.sc_wrap .sc_textarea{
	margin: 8px 0px;
}
.sc_wrap .coverpic_img {
    border: 1px solid #ddd;
	margin: 10px;
}
/* .sc_wrap .usraccount_section {
	padding: 0;
} */
.sc_wrap .usraccount_section .coverpic img {
    width: 100%;
}
.sc_wrap .usraccount_section .userdetail_list{
	
}
.sc_wrap .usraccount_section .userdetail_list li {
   padding: 5px 0; 
 
}

.sc_wrap .det_box {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 8px;
}
.sc_wrap .usraccount_section .userdetail_list li a {
    color: #2f5096;
}
.sc_wrap  .sc_row.accnt_row{
	padding: 65px 0px;
}
.sc_wrap  .usraccount_section .recact_box h1 {
    margin: 0px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif" !important;
    font-size: 24px;
    text-align: left;
    font-weight: 600;
    color: #3b5998;
}
.sc_wrap .colm_section {
    width: 100%;
    padding: 15px 0 0;
	    float: left;
}
.sc_wrap  .usraccount_section .recact_box {
    padding: 0px;
}
a.btn.btn-primary.btn-xs {
    padding: 3px 15px;
    font-size: 14px;
	background: #3b5998;
	color: #fff;
}
.user_profile {
    margin-bottom: 10px;
}
.sc_wrap .nme-txt {
    color: #3b5998;
    font-weight: 800;
	    margin: 5px;
}
.sc_wrap .username_txt {
display: block; */
    color: #3b5998;
    font-weight: 800;
    margin: 5px;
    font-size: 15px;}
.sc_wrap .usraccount_section .userdetail_list .fa {
    margin-right: 5px;
	
}
.sc_wrap  .whts_on_ur_mind {
    border: 1px solid #ddd;
	padding: 10px;
}
.sc_wrap .whts_on_ur_mind input {
    padding: 15px;
    width: 100%;
    border: 1px solid #ddd;
}
.sc_wrap .whts_on_ur_mind input:focus{
	outline: none;
}
.sc_wrap .update_btn {
    border: none;
    background: #3b5998;
    color: #fff;
    font-size: 14px;
    padding: 5px 8px;
	margin: 5px;
    float: right;
	margin: 104px 5px 0;
}
.sc_wrap .latestnews_section .newsticker img{
	width: 100%;
    max-width: 50px;
    border-radius: 100px;
    float: left;
    margin-right: 5px;
	 height: 50px;
    object-fit: cover;
}
.sc_tooltip {
    position: relative;
    display: inline-block;
}

.sc_tooltip .sc_tooltiptext {
    visibility: hidden;
    width: 120px;
    /* background-color: #2f5096; */
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 0;
    position: absolute;
    z-index: 1;
	font-size: 10px;
}

.sc_tooltip:hover .sc_tooltiptext {
    visibility: visible;
}
/* ==============account================== */

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
	height: 200px;
}
input#image-picker {
    display: none;
}
input#image-pcker {
    display: none;
}
input#image-pckr {
    display: none;

}
.fb-profile label a#image-prviw {
    cursor: pointer;
}
.fb-profile label a#image-prview {
    cursor: pointer;
}
img.fb-image-profile.thumbnail {
    margin-bottom: 0;
}
.profile label {
    position: relative;
    top: -35px;
    right: 4px;
    float: right;
    background: rgba(255, 255, 255, 0.84);
    padding: 0 5px;
    border: 1px solid #ddd;
    font-size: 20px;
}
.fb-profile label.covrpic {
        position: absolute;
    top: 7px;
    transition: all 0.5s;
    right: 7px;
    background: -webkit-linear-gradient(#f1f1f1,#f1f1f1,#999999);
    border: 1px solid #999999;
    padding: 0 5px;
    opacity: 0.8;
}
.fb-profile label.covrpic:hover {
    box-shadow: 0 0 10px #ddd;
}
textarea.form-control {
    height: 76px;
}
ul#list_PostActions {
    margin: 10px 0;
	padding: 0 5px;
}
ul.list-inline.post-actions {
    margin: 20px 0;
	padding: 0 5px;
}
.fb-image-profile
{
    margin: -90px 0px 0px 0px;
    z-index: 9;
    width: 100%; 
	float: left
}
/* .profile {
    width: 25%;
    float: left;
	    margin: 0 40%;
} */
.fb-profile-text {
width: 100%;
    float: left;
    text-align: left;
    /* margin-top: 0; */}
.fb-profile-text h1 {
    margin: 0;
	font-size: 25px;
}
.col-md-2.cmnt_img {
    text-align: center;
}
ul.cmnt_inline {
    background: #f8f8f8;
padding: 10px 25px;
	width: 100%;
    float: left;
}
ul.cmnt_inline li {
    margin: 12px 0;
    width: 100%;
    float: left;
}
.border {
    border-top: 1px solid #eeeeee;
}
.cmnt_img img {
    border-radius: 50%;
}
.cmnt_content {
width: 100%;
    float: left;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
	}
	.time_sec1 {
    text-align: left;
    margin: 10px 0px 0;
    color: #8e8e8e;
    width: 100%;
}
textarea.form-control {
    width: 100% !important;
}
/* .sc_wrap {
    width: 73.1%;
    margin-left: 10%;
    float: left;
} */
.cmnt_img {
    padding: 0  !important;
}
.fb-profile {
    width: 100%;
    float: left;
}
ul.list-inline.post-actions li a {
    color: #3b5998;
}
.sc_wrap {
    /* background: #f8f8f8; */
}
.col-md-8.col-sm-8.usraccount_section {
    background: #fff;
	padding: 0;
}
button.btn.btn-info {
    display: none;
}
.collapse {
    display: block ;
}
ul#list_PostActions li {
    background: #3b5998;
    padding: 6px;
	transition: all 0.5s;
}
ul#list_PostActions label {
    margin: 0;
}
ul#list_PostActions li:hover {
    background: #1985ac;
}
.usraccount_section {
    padding: 0 !important;
	background: #fff;
}
/*media query start*/
@media only screen and (min-width: 568px){
/* .profile {
    width: 30% !important;
    float: left;
    margin: 0 35% !important;
} */
}

@media only screen and (min-width: 768px){
	.secrow label {
    position: absolute;
    top: -28px;
    right: 16px;
    margin: 0;
}
/* .profile {
    width: 45% !important;
    float: left;
    margin: 0 27% !important;
} */
.list-inline > li {
    display: inline-block;
    padding-right: 3px;
    padding-left: 5px;
}	
.top_navbar .iconbar li {
    padding: 0px;
    float: left;
    margin: 2px 3px;
}
.top_navbar .iconbar {
    margin: 0px;
    margin-top: 4px;
    float: right;

}
.top_navbar .logo a {
    margin: 0px;
    font-size: 17px;
    color: #fff;
}
}
@media only screen and (min-width: 1024px){
.secrow label {
    position: absolute;
    top: 1px;
    right: 18px;
    margin: 0;
}	
/* .profile {
    width: 25% !important;
    float: left;
    margin: 0 40% !important;
} */
}
@media screen and (max-width: 750px) {
i.fa.fa-bars {
    font-size: 20px;
}	
	.sc_wrap .container {
    padding: 0px;
}
.secrow label {
    top: 19px !important;
    right: 75px !important;
}
.sc_wrap .colm_section {
    width: 100%;
    padding: 0;
    float: left;
}
ul.userdetail_list {
    margin: 0;
}
ul#list_PostActions li a {
    font-size: 11px;
}
.fb-profile label.covrpic a#image-prview {
    font-size: 11px;
}
ul.list-inline.post-actions {
    padding: 0;
}
ul.list-inline.post-actions li.pull-right {
    padding: 0;
}
.sc_wrap .colm_section {
    width: 100%;
    padding: 0;
    float: left;
    padding-bottom: 7px;
}
.sc_wrap .usraccount_section .recact_box h1 {
    margin: 0px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif" !important;
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    color: #3b5998;
}
.post_cmnt {
    width: 100%;
    float: left;
}
ul.cmnt_inline {
    background: none;
    padding: 0;
}
.cmnt_left_col {
    padding: 0;
}
.sc_wrap .userprofile_section{
	background: transparent;
    padding: 0px;
    height: auto !important;
    position: fixed;
    right: 0;
    top: 100% !important;
    bottom: 0;
    z-index: 1;
}
button.btn.btn-info {
    display: block;
	background: none;
    border: none;
    outline: none;
    float: left;
    width: 100%;
    text-align: right;
}
.collapse {
    display: none;
}	
.sc_wrap .sc_row {
    padding: 1px 0px 0px !important;
}	
	/* .sc_wrap {
    width: 100%;
    margin: 0;
} */
.top_navbar .iconbar li {
    padding: 8px 3px 0px;
    float: left;
    margin: 2px 3px;
}
.top_navbar .logo {
    padding: 5px 0px;
    float: left;
    width: 50%;
}
.top_navbar .logo a {
    margin: 0px;
    font-size: 20px;
    color: #fff;
}
.top_navbar .searchTerm {
    float: left;
    width: 95%;
    border: 3px solid #2f5096;
    padding: 5px;
    height: 37px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}
.top_navbar .searchButton {
    position: absolute;
    right: 27px;
    width: 40px;
    height: 37px;
    border: 1px solid #2f5096;
    background: #2f5096;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
.icon_list.right {
    /* text-align: left; */
    float: left;
    width: auto;
}
.top_navbar .right_col {
    text-align: right;
    padding: 5px 0px;
    width: auto;
    float: right;
    margin-right: 7px;
}
.fb-image-profile {
margin: -30% 00 0 25%;
    z-index: 9;
    width: 50%;
    float: left;
	}
	.fb-profile-text {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 6px;
}
/* .profile {
        width: 50%;
    float: left;
    margin: 0 25%;
} */
.fb-profile-text h1 {
    font-size: 18px;
}
.fb-profile-text p {
    font-size: 12px;
}
.whts_on_ur_mind {
    margin-top: 10px;
}
span.timer_txt {
    font-size: 12px;
}
.cmnt_img {
    text-align: center;
    margin-bottom: 10px;
}
/* .top_navbar {
    position: relative;
} */
}
 {@media (max-width:768px){
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}
.whts_on_ur_mind {
    margin-top: 10px;
}
/* .fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
} */
}
/*media query end*/